<template name="addGameTemplate">
  <h2>Create a new template</h2>
  {{#autoForm collection="GameTemplates" id="add-game-template" type="insert"}}
    <fieldset>
      <legend data-toggle="collapse" data-target="#generalInfoFields">
        General Info <i class="glyphicon glyphicon-menu-down"></i>
      </legend>
      <div id="generalInfoFields" class="collapse-in collapse in">
        {{> afQuickField name="name"}}
        {{> afQuickField name="description" type="textarea" rows="3" placeholder="Short Description about template. For example, what game it's intended for."}}
        {{> afQuickField name="isPublic"}}
      </div>
    </fieldset>
    <fieldset>
      <legend data-toggle="collapse" data-target="#gameSettingFields">
        Game Settings <i class="glyphicon glyphicon-menu-down"></i>
      </legend>
      <div id="gameSettingFields" class="collapse-in collapse in">
        {{> afQuickField name="gameSettings.maxPlayers"}}
        {{> afQuickField name="gameSettings.scoreLabel" placeholder="(i.e. Life, Funds, etc...)"}}
        {{> afQuickField name="gameSettings.scoreType"}}
        {{#unless afFieldValueIs name="gameSettings.scoreType" value="tally"}}
          {{> afQuickField name="gameSettings.scoreDefault"}}
        {{/unless}}
        {{> afQuickField name="gameSettings.scorePrefix" placeholder="(ex. $)"}}
        {{> afQuickField name="gameSettings.hideNonUserPlayers"}}
      </div>
    </fieldset>
    <fieldset>
      <legend data-toggle="collapse" data-target="#playerFields">
        Player Fields <i class="glyphicon glyphicon-menu-down"></i>
      </legend>
      <div id="playerFields" class="collapse-in collapse in">
        {{> afQuickField name="playerFields" template="playerfields"}}
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block btn-lg">Create</button>
  {{/autoForm}}
</template>