<template name="afArrayField_playerfields">
  {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
    {{> playerFieldForm}}
  {{/afEachArrayItem}}
  {{#if afArrayFieldIsEmpty name=this.atts.name}}
    <div>No Player Fields</div>
  {{/if}}
  {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
    <button type="button" class="btn btn-default btn-sm autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><i class="glyphicon glyphicon-plus"></i>Add Field</button>
  {{/if}}
</template>

<template name="playerFieldForm">
  <div class="player-field autoform-array-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{fieldName}}</h4>
        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <button type="button" class="close autoform-remove-item">&times;</button>
        {{/if}}
      </div>
      <div class="panel-body">
        {{#with this.current}}
          {{> afQuickField name=name class="field-name"}}
          {{> afQuickField name=abbreviation}}
          {{> afQuickField name=type class="field-type"}}
          {{> afQuickField name=permission}}
          
          {{#if isType "number"}}
            {{> afQuickField name=defaultValue type="number"}}
          {{/if}}

          {{#if isType "counter"}}
            {{> afQuickField name=icon}}
            {{> afQuickField name=defaultValue type="number" label="Default Count"}}
            {{#if afFieldValueIs name="gameSettings.scoreType" value="tally"}}
              {{> afQuickField name=useForScore value=true}}

              {{#if afFieldValueIs name=useForScore value=true}}
                {{> afQuickField name=scoreMultiplier type="number"}}
              {{/if}}

            {{/if}}
          {{/if}}

          {{#if isType "text"}}
            {{> afQuickField name=defaultValue}}
          {{/if}}

          {{#if isType "choice"}}
            {{> afQuickField name=choices type="textarea"}}
            {{> afQuickField name=defaultValue type="select" options=choiceOptionsHelper}}
          {{/if}}
        {{/with}}
      </div>
    </div>      
  </div>
</template>