<template name="playerFieldForm">
  <div class="player-field">
    <label class="field-name-label">New Field</label><br>
    <div class="item-form">
      <div class="form-group required">
        <label>Name</label>
        <input type="text" name="playerFields[][name]" class="form-control field-name">
      </div>
      <div class="form-group required">
        <label>Type</label>
        <select name="playerFields[][type]" class="field-type form-control">
          <option value="number">Number</option>
          <option value="counter">Counter</option>
          <option value="text">Text</option>
          <option value="dropdown">Choice</option>
        </select>
      </div>
      <div class="form-group required">
        <label>Edit Permissions</label>
        <select name="playerFields[][permission]" class="form-control">
          <option value="open">Open</option>
          <option value="restricted">Restricted</option>
          <option value="secure">Secure</option>
        </select>
        <span class="help-block">
          Open = Anyone <br>
          Restricted = Only the player (if logged in and linked) <br>
          Secure = Only the game owner
        </span>
      </div>
      <div class="secondary-inputs">
        {{#if isType 'number'}}
          <div class="form-group">
            <label>Default Value</label>
            <input type="number" name="playerFields[][default]" class="form-control" placeholder="Number only - default: 0">
          </div>
        {{/if}}

        {{#if isType 'counter'}}
          <div class="form-group">
            <label>Default Value</label>
            <input type="number" name="playerFields[][default]" class="form-control" placeholder="Number only - default: 0">
          </div>
          <div class="form-group">
            <label>Multiplier</label>
            <input type="number" name="playerFields[][multiplier]" class="form-control" placeholder="Number only - default: 1">
            <span class="help-block">Used with Tally scoring: (value * multiplier)</span>
          </div>
        {{/if}}

        {{#if isType 'text'}}
          <div class="form-group">
            <label>Default Value</label>
            <input type="text" name="playerFields[][default]" class="form-control">
          </div>
        {{/if}}

        {{#if isType 'dropdown'}}
          <div class="form-group required">
            <label>Choices</label>
            <textarea name="playerFields[][values]" class="form-control field-dropdown-values" rows="4"></textarea>
            <span class="help-block">Type each choice on a new line</span>
          </div>
          <div class="form-group">
            <label>Default Value</label>
            <select name="playerFields[][default]" class="form-control">
              {{#each values}}
                <option value="{{this}}">{{this}}</option>
              {{else}}
                <option value="default">Enter choices above</option>
              {{/each}}
            </select>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>